<!DOCTYPE html>
<head>
  <title>Homepage</title>

  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 40%;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 2px 30px;
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".like-button").on("click", function (e) {
        var postid = $(this).val();
        $.ajax({
          type: "POST",
          url: '{% url "update_likes" %}',
          data: {
            postid: postid,
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            action: "post",
          },
          success: function (json) {
            console.log(json);
            if (jQuery.isEmptyObject(json))
            {
              console.log("False");
              window.location.replace("{% url 'login' %}")
            }
            else
            {
              document.getElementById("likeCount_"+postid).innerHTML = json['upvotes']
            }
            
          },
          error: function (xhr, errmsg, err) {},
        });
      });
    });
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">Kanji Mnemonics</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Search</a>
          </li>
          {% if authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post' %}">Post</a>
          </li>
          {% if authenticated %}
           {{ user }}
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
            Anonymous
          {% endif %}
        </ul>
  
      </div>
    </div>
  <br/>

  {% if display_data %} 
    {% for post in display_data %}
    <div class="card">
      <div class="container">
        <h4><b> Posted By: {{ post.posted_by }} </b></h4>
        <h4><b> Kanji: {{ post.kanji }} </b></h4>
        <h4><b> Stroke Count: {{ post.stroke_count }} </b></h4>
        <h4>
          <b>
            Meanings: 
            {% for meaning in post.meanings %} 
            {{ meaning }}, 
            {% endfor %}
          </b>
        </h4>
        <h4><b> Mnemonic: {{ post.mnemonic }} </b></h4>

        <button type="button" class="like-button" value="{{ post.post_id }}">
          {% csrf_token %} 
          Like
        </button>
        <span id="likeCount_{{ post.post_id }}">{{ post.upvotes }}</span>
      </div>
    </div>
    {% endfor %} 
  {% endif %}
</body>
