<html>
    <head>
        <title>
            Kanji Mnemonics
        </title>
    </head>
    <body>
        <form method="POST" action="">
            {% csrf_token %}
            Kanji: <input type = "text" name = "kanji" />
            <input type="submit" name="transaction_add"/>
        </form>
        <br>
        <br>
        {% if stroke_count %}
            Kanji: {{ kanji }}
            <br>
            Strokes: {{ stroke_count }}
            <br>
            Grade: {{ grade }}
            <br>      
            Frequency: {{ frequency }}
            <br>
            JLPT Level: {{ jlpt }}
        {% else %}
            Kanji NOT FOUND in the database!
        {% endif %}
    </body>
</html>